body {
  background-color: #191919;
  color: grey;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Inconsolata', monospace;;
}

.jumbotron {
  background-image: url(../img/camera.png);
  background-size: contain;
  background-position: center;
  opacity: .75;
  padding: 25px;
}

.jumbotron h1{
  color: #FF041A;
  font-size: 80px;
  text-align: center;
  text-shadow: 4px 1px 1px #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron h4{
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 1px 1px #000;

}

a {
  color: #911415;
  font-size: 20px;
}

.header {
  color: #CAC9D6;
  font-family: 'Josefin Sans', sans-serif;
}

p .row {
  text-align: justify;
}

.quote {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  color: #911415;
}

.img-circular{
 width:50px;
 height:50px;
 background-image: url(../img/profile.jpg);
 background-size: cover;
 display: block;
 border-radius: 500px;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
}
